#website-title {
    font-family: 'Bungee Inline', cursive;
    font-size: 10vh;
    color:#ffb74d;

    
}

#website-subtitle {
    font-family: 'Poppins';
    padding: 5px;
    font-size: 3vh;
}

#title-container {
    display: block;
}

#main-body {
    padding: 20px;
    margin: auto;
   height: max-content;
    
}

#search-results {
    margin: auto;
    padding: 10px;
    position: relative;
    display: none;

}


#query-box {
    border: 3px solid black;
}

#random-box {
    padding-top: 20px;
   
    
}

 .card {
    margin: 2vh;
    min-width: 50vh;
    max-width: max-content;
    display: inline-block;
} 

.card-content {
    display: inline-block;
    overflow: scroll;
}